.parent {
  background-color: blue;
  height: 600px;
}

.child-1 {
  background-color: red;
  width: 50%;
  height: 300px;
}

.child-2 {
  background-color: yellow;
  width: 25%;
  height: 50%;
}

.parent {
  font-size: 30px;
}

.child-font-1 {
  font-size: 0.5em;
}

.child-font-2 {
  font-size: 2em;
}
