* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(238, 48, 255);
  font-size: 28px;
  margin-top: 20px;
}

p {
  color: #000000;
  margin-top: 15px;
}

#header {
  background-color: #ffcee6;
  padding: 20px;
  text-align: center;
}

.highlight {
  background-color: #ffcee6;
  padding: 15px;
  font-weight: bold;
}

.warning {
  color: red;
  border: 2px solid red;
  padding: 10px;
  margin: 10px;
}

.container > p {
  font-size: 15px;
  color: rgba(41, 41, 41, 0.6);
}

.container span {
  font-style: italic;
  color: green;
}

h1,
h3 {
  color: #b20000;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}